PORT=3000
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
WAITLIST_FROM_EMAIL=noreply@mosion.app
WAITLIST_FROM_NAME=MOSION
WAITLIST_REPLY_TO=waitlist@mosion.app
WAITLIST_BETA_URL=https://mosion.app
WAITLIST_STUDIO_BETA_URL=https://studio.mosion.app
WAITLIST_LOGO_URL=https://mosion.app/mosion.png
# WAITLIST_SES_CONFIGURATION_SET=waitlist
